<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documents</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <%- include('partials/header') %>

    <main>
        <br>
        <h1>Your Documents</h1>
        <br>
        
        <a href="/documents/new" class="AddButton">+ New</a>

        <br>
        <br>

        <ul class="documentList">
            <% documents.forEach(document => { %>
                <li>

                <h2><strong>Title: <%= document.title %></strong></h2>
                <br>

                <p><%= document.content %></p>
                <br>
                
                <div class="docEditOption"> 
                    <a href="/documents/<%= document._id %>/edit" class="EditButton">Edit</a>
                    <a href="#" class="DeleteButton" data-id="<%= document._id %>">Delete</a>
                </div>

                </li>
            <% }) %>
        </ul>
    </main>

    <script src="/js/delete.js" defer></script>

</body>
</html>
